@import "mixins";

.footer {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include phone-and-tablet {
    flex-direction: column;
  }
  .footer__title {
    h1 {
      font-size: 5rem;
      font-family: var(--fraktur-font);
    }
    @include phone-and-tablet {
      margin-bottom: 2rem;
    }
  }

  .footer__links {
    display: flex;
    list-style: none;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
